@model CMSSample.DomainModel.ViewModels.UserEditViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center><h3> Rigster User </h3> </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <hr>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.UserName, htmlAttributes: null)
                                <div class="form-group">
                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control-sm" } })
                                </div>

                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Password, htmlAttributes: null)
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control-sm" } })
                                    <div></div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: null)
                                <div class="form-group">
                                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: null)
                                <div class="form-group">
                                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Email, htmlAttributes: null)
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control-sm" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Mobile, htmlAttributes: null)
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control-sm" } })
                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.UserDZs, htmlAttributes: null)
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.DZId, new SelectList(Model.UserDZs, "Value", "Text"), new { htmlAttributes = new { @class = "form-control-sm" } })
                                </div>
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.UserRoles, htmlAttributes: null)
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.RoleID, new SelectList(Model.UserRoles, "Value", "Text"), new { htmlAttributes = new { @class = "form-control-sm" } })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    @Html.ValidationSummary(false, "Please fix the following errors and submit the form:", new { @class = "text-danger" })
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <center>
                                    <input type="submit" value="Save" class="btn btn-primary" />
                                </center>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
