@model IEnumerable<CMSSample.DomainModel.ViewModels.UserDisplayViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<h2>Users</h2>
<div class="table-responsive">

    <table class="table table-bordered  table-responsive-sm table-hover" >
        <tr>
            <th style="text-align:center;background-color:darkgray">
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th style="text-align:center;background-color:darkgray">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th style="text-align:center;background-color:darkgray">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th style="text-align:center;background-color:darkgray">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th style="text-align:center;background-color:darkgray">
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th style="text-align:center;background-color:darkgray">
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th style="text-align:center;background-color:darkgray">
                @Html.DisplayNameFor(model => model.DZName)
            </th>
            <th style="text-align:center;background-color:darkgray"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width:100px">
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td style="width:100px">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td style="width:100px">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td style="width:200px">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td style="width:100px">
                    @Html.DisplayFor(modelItem => item.Mobile)
                </td>
                <td style="width:100px">
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td style="width:100px">
                    @Html.DisplayFor(modelItem => item.DZName)
                </td>
                <td style="width:100px">
                    @Html.ActionLink("Edit", "Edit", "User", new { id = item.UserId }, null) |
                    <a onclick="DeleteUser(@item.UserId)" href="">Delete</a>
                </td>
            </tr>
        }

    </table>

</div>
    <script type="text/javascript">

        function DeleteUser(id) {
            if (confirm("Are you sure to delete User?")) {
                $.ajax({
                    type: "POST",
                    url: 'http://localhost/CMSSample.WebApp/User/Delete',
                    async: false,
                    data: JSON.stringify({ 'Id': id }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.status == "Success") {
                            alert(data.message);
                            return true;
                        } else {
                            alert("Error occurs on the Database level!");
                            return false;
                        }
                    },
                    error: function () {
                        alert("An error has occured!!!");
                        return false;
                    }
                });
            }
            else {
                return false;
            }

        }
    </script>
