@model IEnumerable<CMSSample.DomainModel.ViewModels.ODZCaseDisplayViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ODZ Case List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm("Index", "ODZCase", FormMethod.Get))
    {
        @Html.Label("Case Reference Number:")
        @Html.TextBox("casereference")
        @Html.Label("Assisted Person:")
        @Html.TextBox("assistedperson")
        <input type="submit" value="Search" />
    }
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.ODZCaseReference)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IncidentTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DZName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseCoverageAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssistedPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CaseDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ODZCaseReference)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DZName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseCoverageAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssistedPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CaseDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "ODZCase", new { id = item.ODZCaseID }, null) |            

            <a onclick="DeleteODZCase(@item.ODZCaseID)" href="">Delete</a>
        </td>
    </tr>
}

</table>

<script type="text/javascript">

    function DeleteODZCase(id) {
        if (confirm("Are you sure to delete User?")) {

            $.ajax({
                type: "POST",
                url: 'https://localhost:44362/ODZCase/Delete',
                async: false,
                data: JSON.stringify({ 'Id': id }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.status == "Success") {
                        alert(data.message);
                        return true;
                    } else {
                        alert("Error occurs on the Database level!");
                        return false;
                    }
                },
                error: function () {
                    alert("An error has occured!!!");
                    return false;
                }
            });
        }
        else {
            return false;
        }

    }
</script>