@model WebApplication1.Models.CMSLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPageCMS.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V15</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="http://localhost/CMSSample.WebApp/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

   

        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title" style=" background-image: url(http://localhost/CMSSample.WebApp/images/bg-01.jpg);">
                        <span class="login100-form-title-1">
                            Sign In
                        </span>
                    </div>
                   
                    <form action="@Url.Action("Login", "Login")" method="post" class="login100-form validate-form">

                        <div class="form-group error" style="color:red">
                            @if (@ViewBag.NotValidUser != null)
                            {

                                <label> @ViewBag.NotValidUser</label>
                            }
                        </div>

                        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                            <span class="label-input100">UserName:</span>
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "input100", name = "username", placeholder = "Enter username" } })
                            <span class="focus-input100"></span>
                        </div>

                        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                            <span class="label-input100">Password:</span>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "input100", name = "pass", placeholder = "Enter password" } })
                            <span class="focus-input100"></span>
                        </div>
                        <div class="container-login100-form-btn">
                            <button type="submit" class="login100-form-btn">
                                Login
                            </button>
                        </div>

                    </form>
                    </div>
            </div>
        </div>
    
</body>
</html>

<!--===============================================================================================-->
<script src="~/Scripts/jquery-3.4.1.js"></script>
<!--===============================================================================================-->
<script src="~/Scripts/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Scripts/popper.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Scripts/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Scripts/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Scripts/main.js"></script>

